<table class="hits table table-hover" style="margin-top: -6px">
  <thead>
  <tr>
    <th scope="col" style="text-indent: 7px">Path</th>
    <th class="count text-right" scope="col" style="width: 70px">Hits</th>
    <% if current_user.can_edit?(@site.organisation) %>
      <th class="action" scope="col" style="width: 50px"></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% max = hits.first.count %>
  <% hits.each do |hit| %>
    <tr>
      <td class="remove-padding">
        <div class="bar-chart-wrap">
          <%= render partial: 'hits/bar_chart_row', locals: { count: hit.count, max: max, status: hit.http_status } %>
          <strong class="breakable path" style="padding-left: 7px">
            <%= link_to_hit(hit, @site.default_host) %>
            <% if hit.mapping %>
              <% if [hit.http_status, hit.mapping.http_status] == ['410', '301']  %>
                <br>
                <span class="text-muted"><%= "was archived, now redirecting" %></span>
              <% elsif [hit.http_status, hit.mapping.http_status] == ['301', '410'] %>
                <br>
                <span class="text-muted"><%= "was redirecting, now archived" %></span>
              <% end %>
            <% end %>
          </strong>
        </div>
      </td>
      <td class="count text-right"><%= number_with_delimiter hit.count %></td>
      <% if current_user.can_edit?(@site.organisation) %>
        <td class="action text-center">
          <%= link_to site_mapping_find_path(@site, path: hit.path), title: 'Add mapping', class: 'btn btn-default btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
