<% content_for :page_title, title %>
<%= breadcrumb(site.default_host.hits.build) %>

<div class="page-title">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    <%= title %>
  </h1>
</div>

<%= render partial: 'hits_tabs', locals: { active: active } %>

<%= render partial: 'hits_time_period_dropdown' %>

<% if @category.points.length > 1 && first_page? %>
  <%= render partial: 'hits_graph', locals: { point_categories: [@category] } %>
<% end %>

<h2><%= pluralize(number_with_delimiter(hits.total_count, :delimiter => ','), 'path', 'paths') %></h2>
<%= paginate hits %>

<% if hits.total_count > 0 %>

  <div id="archive-modal" class="modal hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Archive paths</h3>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Original paths</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="#">/about</a></td>
        </tr>
        <tr>
          <td><a href="#">/about/us</a></td>
        </tr>
        <tr>
          <td><a href="#">/about/us/the-team/pages.aspx</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Cancel</a>
      <a href="#" data-dismiss="modal" class="btn btn-success">Save</a>
    </div>
  </div>

  <div id="redirect-modal" class="modal hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Redirect paths</h3>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Original paths</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="#">/about</a></td>
        </tr>
        <tr>
          <td><a href="#">/about/us</a></td>
        </tr>
        <tr>
          <td><a href="#">/about/us/the-team/pages.aspx</a></td>
        </tr>
        </tbody>
      </table>
      <div>
        <label for="redirect-to">Redirect to</label>
        <input type="text" id="redirect-to">
      </div>
    
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Cancel</a>
      <a href="#" data-dismiss="modal" class="btn btn-success">Save</a>
    </div>
  </div>

  <%= render partial: 'hits_table', locals: { hits: hits, category: category } %>
<% else %>
  <p class="no-content no-content-bordered">
    <%= no_content_message %>
  </p>
<% end %>

<%= paginate hits %>
<script>GOVUK.Mappings.toggles()</script>