<aside class="add-bottom-margin row">
  <%= form_tag(site_mappings_path(@site), method: 'get', role: 'form', class: 'col-md-6') do %>
    <fieldset class="add-bottom-margin hide">
      <legend class="legend-inline bold">By </legend>
      <% [['path', 'Original path'], ['new_url', 'New URL']].each do |field_name, label_text| %>
        <%= label_tag nil, class: 'bold radio-inline add-label-margin' do %>
          <%= radio_button_tag :filter_field, field_name, filter_box_selected?(params[:filter_field], field_name) %>
          <%= label_text %>
        <% end %>
      <% end %>
      <% if @path_contains.present? %>
        <span class="add-left-margin">(<%= link_to 'Remove filter', site_mappings_path(@site) %>)</span>
      <% end %>
      <%= label_tag :contains, 'Original path or new URL', class: 'rm' %>
      <div class="input-group">
        <%= text_field_tag :contains, @path_contains, class: 'form-control', placeholder: 'eg /home'  %>
        <span class="input-group-btn">
          <%= button_tag 'Filter', name: nil, class: 'btn btn-default ' %>
        </span>
      </div>
    </fieldset>
    <ul class="list-inline">
      <li>
        <strong>Filter by</strong>
      </li>
      <li>
        <a href="#" class="inherit">
          Path <span class="glyphicon glyphicon-chevron-down" style="font-size: 80%"></span>
        </a>
      </li>
      <li>
        <a href="#" class="inherit">
          New URL <span class="glyphicon glyphicon-chevron-down" style="font-size: 80%"></span>
        </a>
      </li>
      <li>
        <a href="#" class="inherit">
          Type <span class="glyphicon glyphicon-chevron-down" style="font-size: 80%"></span>
        </a>
      </li>
      <li>Tag <span class="glyphicon glyphicon-chevron-down" style="font-size: 80%"></span></li>
      <li class="text-muted">Sorted by path</li>
    </ul>
  <% end %>
</aside>