<aside class="add-vertical-margins panel panel-info">
  <div class="panel-heading">
    Filter mappings
  </div>
  <%= form_tag(site_mappings_path(@site), method: 'get', role: 'form', class: 'panel-body') do %>
    <fieldset class="add-bottom-margin">
      <legend class="legend-reset bold add-label-margin">By type</legend>
      <%= label_tag nil, class: 'radio-inline' do %>
        <%= radio_button_tag :http_status, 'all', selected: true %>
        All
      <% end %>
      <% Mapping::TYPES.keys.each do |type| %>
        <%= label_tag nil, class: 'radio-inline' do %>
          <%= radio_button_tag :http_status, type %>
          <%= http_status_name(type) %>
        <% end %>
      <% end %>
    </fieldset>
    <fieldset class="add-bottom-margin">
      <legend class="legend-reset bold add-label-margin">By tag</legend>
      <div class="row">
        <div class="col-md-8">
          <%= text_field_tag :tagged, params[:tagged], class: 'form-control js-tag-list' %>
          <script>GOVUK.Tagging.ready({autocompleteWith: <%= most_used_tags_json(limit: 200) %>});</script>
        </div>
      </div>
    </fieldset>
    <fieldset class="add-bottom-margin">
      <legend class="legend-inline bold">By </legend>
      <% [['path', 'Original path'], ['new_url', 'New URL']].each do |field_name, label_text| %>
        <%= label_tag nil, class: 'bold radio-inline add-label-margin' do %>
          <%= radio_button_tag :filter_field, field_name, filter_box_selected?(params[:filter_field], field_name) %>
          <%= label_text %>
        <% end %>
      <% end %>
      <% if @path_contains.present? %>
        <span class="add-left-margin">(<%= link_to 'Remove filter', site_mappings_path(@site) %>)</span>
      <% end %>
      <div class="row">
        <div class="col-md-8">
          <%= label_tag :contains, 'Original path or new URL', class: 'rm' %>
          <%= text_field_tag :contains, params[:contains], class: 'form-control', placeholder: 'eg /home'  %>
        </div>
      </div>
    </fieldset>
    <%= button_tag 'Filter', name: nil, class: 'btn btn-info ' %>
  <% end %>
</aside>