<aside class="add-vertical-margins panel panel-default">
  <div class="panel-heading">
    <h3 class="remove-top-margin remove-bottom-margin">Filter mappings</h3>
  </div>
  <div class="panel-body row">
    <div class="col-md-2 relative">
      <div class="" style="min-height: 400px; position: relative; top: 0; border-right: 1px solid #ddd; margin-top: -15px; margin-left: -15px; margin-bottom: -15px; padding: 15px">
        <h4 class="remove-top-margin">Quick</h4>
        <hr />
        <ul class="list-unstyled">
          <li role="presentation" class="text-muted uppercase">Type</li>
          <li><a href="?">All</a></li>
          <li><a href="?http_status=301">Redirects</a></li>
          <li><a href="?http_status=410">Archives</a></li>
          <% tags = most_used_tags_for_site(@site, limit: 10) %>
          <li role="presentation" class="add-top-margin text-muted uppercase">Tagged</li>
          <% tags.each do |tag| %>
            <li><a href="?tagged=<%= tag %>"><%= tag %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= form_tag(site_mappings_path(@site), method: 'get', role: 'form', class: 'col-md-10') do %>
      <h4 class="remove-top-margin">Advanced</h4>
      <hr />
      <fieldset class="add-bottom-margin">
        <legend class="legend-reset bold add-label-margin">By type</legend>
        <%= label_tag nil, class: 'radio-inline' do %>
          <%= radio_button_tag :http_status, 'all', selected: true %>
          All
        <% end %>
        <% Mapping::TYPES.keys.each do |type| %>
          <%= label_tag nil, class: 'radio-inline' do %>
            <%= radio_button_tag :http_status, type %>
            <%= http_status_name(type) %>
          <% end %>
        <% end %>
      </fieldset>
      <fieldset class="add-bottom-margin">
        <legend class="legend-reset bold add-label-margin">By tag</legend>
          <%= text_field_tag :tagged, params[:tagged], class: 'form-control js-tag-list' %>
          <script>GOVUK.Tagging.ready({autocompleteWith: <%= most_used_tags_json(limit: 200) %>});</script>
      </fieldset>
      <fieldset class="add-bottom-margin">
        <legend class="legend-inline bold">By </legend>
        <% [['path', 'Original path'], ['new_url', 'New URL']].each do |field_name, label_text| %>
          <%= label_tag nil, class: 'bold radio-inline add-label-margin' do %>
            <%= radio_button_tag :filter_field, field_name, filter_box_selected?(params[:filter_field], field_name) %>
            <%= label_text %>
          <% end %>
        <% end %>
        <% if @path_contains.present? %>
          <span class="add-left-margin">(<%= link_to 'Remove filter', site_mappings_path(@site) %>)</span>
        <% end %>
        <%= label_tag :contains, 'Original path or new URL', class: 'rm' %>
        <%= text_field_tag :contains, params[:contains], class: 'form-control', placeholder: 'eg /home'  %>
      </fieldset>
      <%= button_tag 'Filter', name: nil, class: 'btn btn-info ' %>
    <% end %>
</aside>