<% breadcrumb(:edit_mapping, @mapping) %>

<%= content_for :page_title, 'Edit mapping' %>
<h1 class="page-title">Edit mapping</h1>

<%= mapping_edit_tabs active: 'Edit' %>

<%= render :partial => 'form' %>

<table>
  <thead>
    <tr>
      <th>Hits</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
  <% @mapping.urls.each do |url| %>
    <tr>
      <td><%= number_with_delimiter(url.hits.sum(:count)) %></td>
      <td><%= url.path %></td>
    </tr>
  <% end %>
</table>