<% title = @filtered ? 'Filtered mappings' : 'Mappings' %>
<% content_for(:page_title, "#{title} | #{@site.default_host.hostname}") %>
<% breadcrumb(@filtered ? :filtered_mappings : :mappings, @site) %>

<div class="page-title-with-border">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    <%= title %>
  </h1>
</div>

<h2>
  <%= pluralize(number_with_delimiter(@mappings.total_count), 'mapping') %>
</h2>
<%= render partial: 'filters' %>

<% if @mappings.any? %>

  <%= paginate(@mappings) %>

  <%= render partial: 'mappings_table',
    locals: {
      mappings: @mappings,
      site: @site,
      css: 'mappings-index',
      include_footer: true,
      include_bulk_add: true
    }
  %>

  <%= paginate(@mappings) %>

  <div id="edit-with-a-list" class="modal modal-saved-mappings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">
            Enter a list of paths or URLs
          </h3>
        </header>
        <div class="modal-body remove-bottom-padding">
          <form>
            <textarea class="form-control" style="height: 200px"></textarea>
          </form>
        </div>
        <footer class="modal-footer">
          <%= button_tag 'Continue', class: 'btn btn-success' %>
        </footer>
      </div>
    </div>
  </div>

<% else %>
  <% if current_user.can_edit?(@site.organisation) %>
    <div class="add-bottom-margin">
      <%= render partial: 'add_button' %>
    </div>
  <% end %>
  <p class="no-content no-content-bordered">
    No mappings found
  </p>
<% end %>
