<div class="performance">
  <h3 class="remove-top-margin add-bottom-margin">Performance</h3>
  <div class="list-group add-big-bottom-margin">
    <%= link_to summary_site_hits_path(@site), class: 'list-group-item' do %>
      <h4 class="list-group-item-heading">Analytics</h4>
      <p class="list-group-item-text text-muted">
        Graphs and tables charting
        <abbr title="Resources served from the website including pages, images and file downloads."
              data-toggle="tooltip">hits</abbr>
        to <%= @site.default_host.hostname %>. Use analytics to see how many users
        are visiting old URLs and what proportion of them are being
        redirected, seeing archives or finding errors.
      </p>
    <% end %>
    <div class="list-group-item">
      <%= link_to errors_site_hits_path(@site, period: 'last-seven-days'), class: 'list-group-item-heading' do %>
        <h4 class="remove-top-margin">Missing mappings (404 errors)</h4>
      <% end %>
      <p class="list-group-item-text text-muted add-bottom-margin">
        Pages on <%= @site.default_host.hostname %> that were visited in the last 7 days but have no associated mapping.<br />Fix these errors by adding mappings for the missing paths.
      </p>
      <div class="list-group-item-text remove-padding" style="margin: 0 -15px -40px">
        <%= render partial: 'hits/hits_table_minimal', locals: { hits: @errors} %>
      </div>
    </div>
  </div>
</div>
